@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

li{
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
}

.intro {
    background-image: url(/img/intro.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.6),
                -1px 1px 8px rgb(255, 255, 255, 0.6),
                1px -1px 8px rgb(255, 255, 255, 0.6),
                -1px -1px 8px rgba(255, 255, 255, 0.6);
    padding-top: 1%;
    padding-bottom: 1%;
}

.introduccion {
    background: rgba(200, 190, 190, 0.414);
    border-radius: 10px;
    padding: 15px;
    margin: 5%;
    text-align: center;
    font-size: 25px;
    font-family: "Kanit", serif;
    font-weight: 400;
}

h1, h2, h3 {
    padding-top: 5%;
}

.tematica {
    font-size: 200%;
    font-weight: 850;
    padding-bottom: 5%;
    text-align: center;
}

p {
    text-align: justify;
}

.pintura {
    background-color: #4b4646;
    padding: 5%;
    color: white;
}

.arte-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.arte-container h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Oswald", serif;
    font-weight: 600;
    font-size: 40px;
}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.obra {
    width: 100%;
    max-width: 750px;
    height: auto;
    
    box-shadow: 0 0 25px #e3cdcd;
}

.descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 25px;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: italic;
    width: 100%;
    max-width: 750px;
    padding: 10px;
}

.arte-container a {
    display: block;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    padding: 15px 28px;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent;
    color: #4b4646;
    background-color: white;
}

.btn1:hover {
    background-color: rgb(217, 199, 199);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.escultura {
    background-color: rgb(217, 199, 199);
    padding: 5%;
    color: #4b4646;
}

.escultura .obra {
    box-shadow: 0 0 25px #4b4646;
}

.btn2:hover {
    background-color: #4b4646;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.footer {
    margin: 5%;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer p {
    margin: 0;
}


@media (max-width: 768px) {
    .arte-container {
        flex-direction: column;
        gap: 10px;
    }

    .obra {
        max-width: 100%;
    }

    .descripcion {
        max-width: 100%;
    }

    .btn1 {
        width: 100%;
    }
}
